<div class="card" style="margin-top: 6vh">
  <div class="card-header">
    <div class="h3">Products
      <button class="btn btn-sm btn-success">
        <fa-icon [icon]="faPlus" (click)="openProductModal(ModalTypesEnum.CREATE)"></fa-icon>
      </button>
    </div>
  </div>
  <div class="card-body">
    <div class="filter">
      <label for="id">Id: </label>
      <input type="text" id="id" name="id" [(ngModel)]="id">
      <label for="name">Name: </label>
      <input type="text" id="name" name="name" [(ngModel)]="name">
      <label for="sku">Sku: </label>
      <input type="text" id="sku" name="sku" [(ngModel)]="sku">
      <label for="code">Code: </label>
      <input type="text" id="code" name="code" [(ngModel)]="code" >
      <button class="btn btn-dark">
        <fa-icon [icon]="faFilter" (click)="filter()"></fa-icon>
      </button>
    </div>
    <table class="table table-bordered table-striped">
      <thead class="thead-light">
      <tr>
        <th scope="col">Id
          <fa-icon class = "arrowUp" [icon]="faArrowUp" (click)="sort('id', true)"></fa-icon>
          <fa-icon [icon]="faArrowDown" (click)="sort('id', false)"></fa-icon></th>
        <th scope="col">Price
          <fa-icon class = "arrowUp" [icon]="faArrowUp" (click)="sort('price', true)"></fa-icon>
          <fa-icon [icon]="faArrowDown" (click)="sort('price', false)"></fa-icon></th>
        <th scope="col">Name
          <fa-icon class = "arrowUp" [icon]="faArrowUp" (click)="sort('name', true)"></fa-icon>
          <fa-icon [icon]="faArrowDown" (click)="sort('name', false)"></fa-icon></th>
        <th scope="col">Quantity
          <fa-icon class = "arrowUp" [icon]="faArrowUp" (click)="sort('quantity', true)"></fa-icon>
          <fa-icon [icon]="faArrowDown" (click)="sort('quantity', false)"></fa-icon></th>
        <th scope="col">Expire Date
          <fa-icon class = "arrowUp" [icon]="faArrowUp" (click)="sort('expireDate', true)"></fa-icon>
          <fa-icon [icon]="faArrowDown" (click)="sort('expireDate', false)"></fa-icon></th>
        <th scope="col">Sku
          <fa-icon class = "arrowUp" [icon]="faArrowUp" (click)="sort('sku', true)"></fa-icon>
          <fa-icon [icon]="faArrowDown" (click)="sort('sku', false)"></fa-icon></th>
        <th scope="col">Code
          <fa-icon class = "arrowUp" [icon]="faArrowUp" (click)="sort('code', true)"></fa-icon>
          <fa-icon [icon]="faArrowDown" (click)="sort('code', false)"></fa-icon></th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.id }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.quantity }}</td>
        <td>{{ product.expireDate | date:'yyyy-dd-MM' }}</td>
        <td>{{ product.sku }}</td>
        <td>{{ product.code }}</td>
        <td>
          <button class="btn btn-sm btn-info" style="margin: 2px">
            <fa-icon [icon]="faEye" (click)="openProductModal(ModalTypesEnum.VIEW, product)"></fa-icon>
          </button>
          <button class="btn btn-sm btn-primary" style="margin: 2px">
            <fa-icon [icon]="faEdit" (click)="openProductModal(ModalTypesEnum.EDIT, product)"></fa-icon>
          </button>
          <button class="btn btn-sm btn-danger" style="margin: 2px">
            <fa-icon [icon]="faTrash" (click)="openDeleteProductModal(product)"></fa-icon>
          </button>
          <button class="btn btn-sm btn-success" style="margin: 2px">
            <fa-icon [icon]="faShoppingCart" (click)="openAddToCart(product)"></fa-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="loadData()">
      </ngb-pagination>

      <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="loadData()">
        <option [ngValue]="2">2 items per page</option>
        <option [ngValue]="4">4 items per page</option>
        <option [ngValue]="6">6 items per page</option>
      </select>
    </div>
  </div>
</div>
