<div class="content" role="main">

   <div class="first row mx-0">
     <div class="col-sm-6 ">
     <h1 class="title">Cumpara...Orice iti doresti</h1>
       <br>
     <p class="description">Indiferent daca vrei sa cumperi ceva pentru tine sau sa gasesti un cadou potrivit, noi te putem ajuta să gasesti ceva potrivit.</p>
       <br>
       <div class="search">
       <p-dropdown [options]="categorii"s
                   placeholder="Alege o categorie" [showClear]="true" [style]="{'width':'50%'}"></p-dropdown>

       <span><a routerLink="/anunturi"><button class="login btn btn-default">Cauta</button></a></span>
     </div>
   </div>
     <div class=" col-md-6 ">
       <img size="10" class="ceva" src="https://cdn.dribbble.com/users/790118/screenshots/6971331/media/d1e6cf91d6df3a0ba4dcdffd0b4a05f2.gif" ></div>
<!--         src="https://www.anthonycolins.com/uploads/1/3/5/4/13548283/published/looking-for-the-right-fit-500-clr-20699.gif?1520191115" -->
   </div>


</div>
