.filter{
  margin-bottom: 20px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.03);
  height: 100px;
}
input[type=text] {
  margin-bottom: 5px;
  border: 1px solid #0c0c0c;
}
.btn-dark{
  margin-left: 30px;
  margin-bottom: 5px;
}
label{
  margin-left: 30px;
}
input{
  width: 200px;
  margin-left: 10px;
}
.filterButton{
  margin-left: 40px;
}
