<div class="card" style="margin-top: 9vh">
  <div class="card-header">
    <div class="h3">Categories
      <button class="btn btn-sm btn-success">
        <fa-icon [icon]="faPlus" (click)="openCategoryModal(ModalTypesEnum.CREATE)"></fa-icon>
      </button>
    </div>
  </div>
  <div class="card-body">
    <div class="filter">
      <label for="id">Id: </label>
      <input type="text" id="id" name="id" [(ngModel)]="id">
      <label for="categoryName">Name: </label>
      <input type="text" id="categoryName" name="categoryName" [(ngModel)]="categoryName">
      <label for="categoryCode">Code: </label>
      <input type="text" id="categoryCode" name="categoryCode" [(ngModel)]="categoryCode">
      <button class="btn btn-dark">
        <fa-icon [icon]="faFilter" (click)="filter()"></fa-icon>
      </button>
    </div>
    <table class="table table-bordered table-striped">
      <thead class="thead-light">
      <tr>
        <th scope="col">Id
          <fa-icon class = "arrowUp" [icon]="faArrowUp" (click)="sort('id', true)"></fa-icon>
          <fa-icon [icon]="faArrowDown" (click)="sort('id', false)"></fa-icon></th>
        <th scope="col">Name
          <fa-icon class = "arrowUp" [icon]="faArrowUp" (click)="sort('categoryName', true)"></fa-icon>
          <fa-icon [icon]="faArrowDown" (click)="sort('categoryName', false)"></fa-icon></th>
        <th scope="col">Code
          <fa-icon class = "arrowUp" [icon]="faArrowUp" (click)="sort('categoryCode', true)"></fa-icon>
          <fa-icon [icon]="faArrowDown" (click)="sort('categoryCode', false)"></fa-icon></th>
        <th scope="col">Created Date
          <fa-icon class = "arrowUp" [icon]="faArrowUp" (click)="sort('createdDate', true)"></fa-icon>
          <fa-icon [icon]="faArrowDown" (click)="sort('createdDate', false)"></fa-icon></th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let category of categories">
        <td>{{ category.id }}</td>
        <td>{{ category.categoryName }}</td>
        <td>{{ category.categoryCode }}</td>
        <td>{{ category.createdDate | date:'yyyy-dd-MM' }}</td>
        <td>
          <button class="btn btn-sm btn-info" style="margin: 2px">
            <fa-icon [icon]="faEye" (click)="openCategoryModal(ModalTypesEnum.VIEW, category)"></fa-icon>
          </button>
          <button class="btn btn-sm btn-primary" style="margin: 2px">
            <fa-icon [icon]="faEdit" (click)="openCategoryModal(ModalTypesEnum.EDIT, category)"></fa-icon>
          </button>
          <button class="btn btn-sm btn-danger" style="margin: 2px">
            <fa-icon [icon]="faTrash" (click)="openDeleteModal(category)"></fa-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="loadData()">
      </ngb-pagination>

      <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="loadData()">
        <option [ngValue]="2">2 items per page</option>
        <option [ngValue]="4">4 items per page</option>
        <option [ngValue]="6">6 items per page</option>
      </select>
    </div>
  </div>
</div>
