<div class="card" style="margin-top: 6vh">
  <div class="card-header">
    <div class="h3">Categories
      <button class="btn btn-sm btn-success">
        <fa-icon [icon]="faPlus" (click)="openCategoryModal(ModalTypesEnum.CREATE)"></fa-icon>
      </button>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-light">
      <tr>
        <th scope="col" (click)="sort('id')">Id</th>
        <th scope="col" (click)="sort('categoryName')">Name</th>
        <th scope="col" (click)="sort('categoryCode')">Code</th>
        <th scope="col" (click)="sort('dateAdded')">Date Added</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let category of categories">
        <td>{{ category.id }}</td>
        <td>{{ category.categoryName }}</td>
        <td>{{ category.categoryCode }}</td>
        <td>{{ category.dateAdded | date:'yyyy-dd-MM' }}</td>
        <td>
          <button class="btn btn-sm btn-info" style="margin: 2px">
            <fa-icon [icon]="faEye" (click)="openCategoryModal(ModalTypesEnum.VIEW, category)"></fa-icon>
          </button>
          <button class="btn btn-sm btn-primary" style="margin: 2px">
            <fa-icon [icon]="faEdit" (click)="openCategoryModal(ModalTypesEnum.EDIT, category)"></fa-icon>
          </button>
          <button class="btn btn-sm btn-danger" style="margin: 2px">
            <fa-icon [icon]="faTrash" (click)="openDeleteModal(category)"></fa-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
