.card-body{
  display:  flex;
  flex-wrap: wrap;
  justify-content: center;

  width:auto;
  height: auto;
  background: #f7f7f7;
  margin: 5% 10%;
}
.image{
  cursor: pointer;
}
.produs{
  flex: 0 0 25%;
  border: solid 5px #1976d2;
  height: 500px;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  background: white;
  transition: 0.5s;
}
.produs:hover{
  transform: scale(1.1);
}
.produs .name{
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 15px;
}
.image{
  margin-bottom: 20px;
}

.stock{
  font-weight: bold;
  padding: 12px;
  border-radius: 15px;
  margin-bottom: 20px;
}
.superstock{
  background: #09ee09;
  color: white;
}

.minstock{
  background: orange;
  color: white;
}
.outstock{
  background:red;
}
.price{
  color: red;
  font-size: 20px;
  margin-bottom: 10px;
}

.buttons{
  display: flex;
  flex-direction: column;

}
button{
  width: 200px;
  margin-bottom: 30px;
}

#favorites{
  background: white;
  border: solid 2px #0195e0;
  border-radius: 20px;
  padding: 10px;
  color: #0195e0;
  font-size: larger;
}

#favorites:hover{
  background: #ebf5ff;
}

#favorites:focus #heart{
  color: red;
}


#cart{
  background: #2d5af8;
  border: none;
  border-radius: 20px;
  padding: 10px;
  color: white;
  font-size: larger;
}
#cart:hover{
  background: #4141fc;
}
#cart-i{
  color: white;
  background: red;
  padding: 5px;
  margin-right: 10px;
}
