<div class="card" style="margin-top: 6vh">
  <div class="card-header">
    <div class="h3">{{category?.categoryName}}</div>
  </div>

  <div class="card-body">
     <div *ngFor="let product of category?.products" class="produs">
        <div class="image" [routerLink]="['/products', product.id]"></div>
        <div class="name">
          <p><strong>{{product?.name}}</strong></p>
        </div>
        <div class="stock">
         {{inStock(product)}}
        </div>
        <div class="price">
          <p><strong>{{product?.price}}$</strong></p>
        </div>
       <div class="buttons">
         <button id="cart"><fa-icon id="cart-i" [icon]="faCart" (click)="addToCart(product)"></fa-icon>  Add to cart</button>
         <button id="favorites"><fa-icon id="heart" [icon]="faHeart"></fa-icon>  Add to favorites</button>
       </div>
     </div>
  </div>
</div>
