<div class="card" style="margin-top: 9vh">
<!--  <div class="card-header">-->
<!--    <div class="h3">{{category?.categoryName}}</div>-->
<!--  </div>-->

  <div class="card-body">
    <div class="meniu-total col-sm-2" >
      <div class="titlu-meniu"><span class="mattrue" (click)="setMatTrue()">Materii</span> / <span class="matfalse" (click)="setMatFalse()">Filtre</span></div>
     <div *ngIf = "getMat()">
       <div *ngFor="let product of products" class="meniu">
    
      </div>
     </div>
    

    </div>
  <div class="anunturi col-sm-10 row">
     <div *ngFor="let product of products" class="produs col-sm-3">
        <div class="image" [routerLink]="['/products', product.id]"></div>
        <div class="nume">
          <p><strong>{{product?.name}}</strong></p>
        </div>
      
       <div class="buttons">
         <button id="cart"  (click)="openCategoryModal(ModalTypesEnum.VIEW, product)">Vezi detalii</button>

       </div>
     </div>
  </div>
  </div>
</div>
