<div class="card" style="margin-top: 6vh">
  <div class="card-header">
    <div class="h3">Users
      <button class="btn btn-sm btn-success">
        <fa-icon [icon]="faPlus" (click)="openUserModal(ModalTypesEnum.CREATE)"></fa-icon>
      </button>
      <button id="user-romania" class="btn btn-sm btn-info" (click)="openUsersRomaniaModal()">
        <fa-icon [icon]="faMap" (click)="openUsersRomaniaModal()"></fa-icon>
      </button>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-light">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.address }}</td>
        <td>
          <button class="btn btn-sm btn-info" style="margin: 2px">
            <fa-icon [icon]="faEye" (click)="openUserModal(ModalTypesEnum.VIEW, user)"></fa-icon>
          </button>
          <button class="btn btn-sm btn-primary" style="margin: 2px">
            <fa-icon [icon]="faEdit" (click)="openUserModal(ModalTypesEnum.EDIT, user)"></fa-icon>
          </button>
          <button class="btn btn-sm btn-danger" style="margin: 2px">
            <fa-icon [icon]="faTrash" (click)="openDeleteModalUser(user)"></fa-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
