<div class="card" style="margin-top: 9vh">
  <div class="card-header">
    <div class="h3">Users
      <button class="btn btn-sm btn-success">
        <fa-icon [icon]="faPlus" (click)="openUserModal(ModalTypesEnum.CREATE)"></fa-icon>
      </button>
      <button id="user-romania" class="btn btn-sm btn-info">
        <fa-icon [icon]="faMap" (click)="openUsersRomaniaModal()"></fa-icon>
      </button>
    </div>
  </div>
  <div class="card-body">
    <div class="filter">
      <label for="id">Id: </label>
      <input type="text" id="id" name="id" [(ngModel)]="id">
      <label for="name">Name: </label>
      <input type="text" id="name" name="name" [(ngModel)]="name">
      <label for="email">Email: </label>
      <input type="text" id="email" name="email" [(ngModel)]="email" >
      <button class="btn btn-dark">
        <fa-icon [icon]="faFilter" (click)="filter()"></fa-icon>
      </button>
    </div>
    <table class="table table-bordered table-striped">
      <thead class="thead-light">
      <tr>
        <th scope="col">Id
          <fa-icon class = "arrowUp" [icon]="faArrowUp" (click)="sort('id', true)"></fa-icon>
          <fa-icon [icon]="faArrowDown" (click)="sort('id', false)"></fa-icon></th>
        <th scope="col">Name
          <fa-icon class = "arrowUp" [icon]="faArrowUp" (click)="sort('name', true)"></fa-icon>
          <fa-icon [icon]="faArrowDown" (click)="sort('name', false)"></fa-icon></th>
        <th scope="col">Email
          <fa-icon class = "arrowUp" [icon]="faArrowUp" (click)="sort('email', true)"></fa-icon>
          <fa-icon [icon]="faArrowDown" (click)="sort('email', false)"></fa-icon></th>
        <th scope="col">Address</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.address }}</td>
        <td>
          <button class="btn btn-sm btn-info" style="margin: 2px">
            <fa-icon [icon]="faEye" (click)="openUserModal(ModalTypesEnum.VIEW, user)"></fa-icon>
          </button>
          <button class="btn btn-sm btn-primary" style="margin: 2px">
            <fa-icon [icon]="faEdit" (click)="openUserModal(ModalTypesEnum.EDIT, user)"></fa-icon>
          </button>
          <button class="btn btn-sm btn-danger" style="margin: 2px">
            <fa-icon [icon]="faTrash" (click)="openDeleteModalUser(user)"></fa-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="loadData()">
      </ngb-pagination>

      <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="loadData()">
        <option [ngValue]="2">2 items per page</option>
        <option [ngValue]="4">4 items per page</option>
        <option [ngValue]="6">6 items per page</option>
      </select>
    </div>
  </div>
</div>
