<div class="all">
  <div class="card">
    <h1 class="title">Clasele mele</h1>
    <div class="line1"></div>
    <div *ngFor="let c of classes">
      <div class="divv">
        <div class="class-part1">
          <p class="name-class">{{c.name}}</p>
          <span class="ceva" >Elev:</span><span class="student-class">{{c.student!.name}}</span>
          <span class="ceva" >Profesor:</span><span class="student-class">{{c.profesor!.name}}</span>
        </div>
        <div class="class-part2">
          <button mat-raised-button color="primary" class="accept-button" style="position: absolute; right: 380px;" (click)="enterInClass(c)">Intra in clasa</button>
        </div>
      </div>
      <div class="line"></div>
    </div>
  </div>
</div>
