<div class="all">
  <div class="card">

    <div class="div-title">

      <h1 class="title">Creare test</h1>

    </div>


    <form (submit)="$event.preventDefault()" style="margin-top: 2vh; margin-left:2vh;">
      <div>
        <h5 style="size: 20px; margin-left: 30px; margin-bottom: 20px">Adaugă întrebare</h5>
      </div>

      <div class="div-input">
        <mat-form-field class="question-mat" style="margin-top: 1vh; margin-left:2vh;">

        <textarea
          class="question"
          matInput
          cdkTextareaAutosize
          placeholder="Intrebare"
          #titleInput
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="5"></textarea>
        </mat-form-field>
        <mat-form-field matInput class="nota">
          <input
            type="number"
            #numberInput
            placeholder="Nota maxima"
            matInput
          >
        </mat-form-field>

        <button style="margin-left: 42px; background-color: #1139c4" type="submit" id="save" class="btn btn-success" (click)="addToList(titleInput.value,numberInput.value )">Save</button>
      </div>

    </form>


    <table  class="table" style="margin-top: 10px">
      <thead>
      <tr>
        <th  style="margin-right: 100px">No.</th>
        <th  scope = "col">Întrebare</th>
        <th  scope = "col">Notă maximă</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let rowTest of test ; let i = index; ">
        <td>{{i+1}}</td>
        <td >{{ rowTest.intrebare }}</td>
        <td>{{ rowTest.notareMaxima }}</td>

      </tr>
      </tbody>
    </table>
    <div>
    </div>

    <button style="width: 150px; margin-left: 700px; background-color: #0f2e9d" type="submit" id="submit" class="btn btn-success" (click)="submit()">Salveaza test</button>

  </div>
</div>
