<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Delete USer Role</h4>

  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  Are you sure you want to delete user role with ID: {{inputUserRole?.id}} ?
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="delete()">Yes</button>
  <button type="button" class="btn btn-danger" (click)="close()">No</button>
</div>
