<div class="all">
  <div class="card">
    <h1 class="title">Clasa {{nameClass}}</h1>
    <h4 class="colaborator">Colaborator: {{nameColab}}</h4>
    <div class="div-parent">
      <div class="card1">
        <div class="div-button-1">
          <button class="materials-button" (click)="materials()">MATERIALE</button>
        </div>
      </div>
      <div class="card2">
        <div class="div-button-2">
          <button class="tests-button" (click)="tests()">TESTE</button>
        </div>
        <div class="div-button-3">
          <button class="create-test-button" (click)="createTest()">CREEAZA TEST</button>
        </div>
      </div>
    </div>
  </div>
</div>
