<div class="all">
  <div class="card">
    <h1 class="title">Cererile mele</h1>
    <div class="line1"></div>
    <div *ngFor="let i of requests">
      <p class="request">Solicitare de la utilizatorul
        <span class="colaborator">{{i.user!.name}}</span>
        <span class="request2"> pentru anuntul cu topicul </span>
        <span class="anunt">{{i.anunt!.materie}}</span>
        <button title="Accepta" class="accept-button" style="position: absolute; right: 230px;" (click)="acceptRequest(i)"><mat-icon>check</mat-icon></button>
        <button title="Refuza" class="cancel-button" style="position: absolute; right: 150px;" (click)="cancelRequest(i)"><mat-icon>close</mat-icon></button>
      </p>
      <div class="line"></div>
    </div>
  </div>
</div>
