<div class="all">
  <div class="card">
    <h1 class="title">Teste:</h1>
    <div class="line1"></div>
    <div *ngFor="let t of tests">
      <a class="name-test" *ngIf="colorTest(t) === 0" style="color: green">{{t.numeTest}}</a>
      <a class="name-test" *ngIf="colorTest(t) === 1" style="color: red">{{t.numeTest}}</a>
      <a class="name-test" *ngIf="colorTest(t) === 2" style="color: blue">{{t.numeTest}}</a>
      <button mat-button color="primary" class="enter-test-button" style="position: absolute; right: 230px;" (click)="enterInTest(t)">Acceseaza test</button>
      <div class="line"></div>
    </div>
  </div>
</div>
