<div>
  <router-outlet></router-outlet>
</div>

<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span><a routerLink="/"><button class="btn btn-link" style="color: white">Home</button></a></span>
  <span><a routerLink="/categories" *hasAuthority="Authorities.EPAY_CATEG"><button class="btn btn-link" style="color: white">Category</button></a></span>
  <span><a routerLink="/authorities" *hasAuthority="Authorities.EPAY_AUTH"><button class="btn btn-link" style="color: white">Authority</button></a></span>
  <!--span><a routerLink="/products" *hasAuthority="Authorities.EPAY_PRODUCT"><button class="btn btn-link" style="color: white">Product</button></a></span-->
  <span><a routerLink="/products"><button class="btn btn-link" style="color: white">Product</button></a></span>
  <span><a routerLink="/roles" *hasAuthority="Authorities.EPAY_AUTH"><button class="btn btn-link" style="color: white">Role</button></a></span>
  <span><a routerLink="/users" *hasAuthority="Authorities.EPAY_USERS"><button class="btn btn-link" style="color: white">User</button></a></span>
  <span><a routerLink="/userroles" *hasAuthority="Authorities.EPAY_ADMIN"><button class="btn btn-link" style="color: white">User Role</button></a></span>
  <span><a routerLink="/rolesauthorities" *hasAuthority="Authorities.EPAY_ADMIN"><button class="btn btn-link" style="color: white">Role Authority</button></a></span>
  <div class="spacer"></div>

  <div *ngIf="!inShoppingCart()">

    <div class="dropdown">
      <button class="dropbtn" (mouseenter)="getCarts()" >
        <fa-icon [icon]="faShoppingCart"></fa-icon>
      </button>
      <div class="dropdown-content">
        <div class="products">
          <tr *ngFor="let cart of shoppingCarts">
            <td class="image2{{cart.product?.id}}">
            </td>
            <td> x {{cart?.quantity}}
            </td>
            <td class="productName">{{cart.product?.name}}</td>
            <td>{{cart.product?.price}} Lei</td>
          </tr>
        </div>
        <a href="/shoppingcart" >Vezi detalii cos</a>
      </div>
    </div>
    <!--div ngbDropdown>
      <button class="btn"  (click)="getCarts(); setImage()"  id="dropdownBasic2" style="color: white" ngbDropdownToggle>
        <fa-icon [icon]="faShoppingCart"></fa-icon></button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
        <div class="products">
          <tr *ngFor="let cart of shoppingCarts">
            <td class="image2{{cart.product?.id}}">
            </td>
            <td> x {{cart?.quantity}}
            </td>
            <td class="productName">{{cart.product?.name}}</td>
            <td>{{cart.product?.price}} Lei</td>
          </tr>
        </div>
        <a href="/shoppingcart" >Vezi detalii cos</a>
      </div>
    </div-->
  </div>

  <div ngbDropdown>
    <button class="btn" id="dropdownBasic1" style="color: white" ngbDropdownToggle>
      <fa-icon [icon]="faUser"></fa-icon>&nbsp;{{user?.userName}}</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <div *ngIf="isLoggedIn()">
        <span><a (click)="logout()"><button class="btn btn-link " ><span class="em em-user2"></span>Logout</button></a></span>
      </div>
      <div *ngIf="!isLoggedIn()">
        <span><a (click)="login()"><button class="btn btn-link " ><span class="em em-user2"></span>Login</button></a></span>
      </div>
    </div>
  </div>

  <!--p-dropdown [options]="products" optionLabel="name" formControlName="product"
              placeholder="Select a user" [showClear]="true" [style]="{'width':'100%'}"></p-dropdown-->


  <!--div ngbDropdown>
    <button class="btn btn-sm btn-success" id="cart" ngbDropdownToggle>
      <fa-icon [icon]="faShoppingCart"></fa-icon>
    </button>
    <div ngbDropdownMenu aria-labelledby="cart">
      <tr *ngFor="let product of products">
        <td>{{product}}</td>
      </tr>
    </div>
  </div-->


      <!--div *ngIf="products!==undefined && products!==null">
        <p-dropdown [options]="products"  class="btn btn-sm btn-success" optionLabel="name" formControlName="user" placeholder="Select a user" [showClear]="true" [style]="{'width':'100%'}">
          <fa-icon [icon]="faShoppingCart"></fa-icon>
        </p-dropdown>
      </div-->


  <!--span><a routerLink="/shoppingcart"><button class="btn btn-sm btn-success"> <fa-icon [icon]="faShoppingCart"></fa-icon></button></a></span-->
  <!--button class="btn btn-sm btn-success">
    <fa-icon [icon]="faShoppingCart"></fa-icon>
  </button-->


  <a aria-label="Angular on YouTube" target="_blank" rel="noopener" href="https://youtube.com/angular" title="YouTube">
    <svg id="youtube-logo" height="24" width="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 24 24" fill="#fff">
      <path d="M0 0h24v24H0V0z" fill="none"/>
      <path
        d="M21.58 7.19c-.23-.86-.91-1.54-1.77-1.77C18.25 5 12 5 12 5s-6.25 0-7.81.42c-.86.23-1.54.91-1.77 1.77C2 8.75 2 12 2 12s0 3.25.42 4.81c.23.86.91 1.54 1.77 1.77C5.75 19 12 19 12 19s6.25 0 7.81-.42c.86-.23 1.54-.91 1.77-1.77C22 15.25 22 12 22 12s0-3.25-.42-4.81zM10 15V9l5.2 3-5.2 3z"/>
    </svg>
  </a>
</div>
