<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span><a routerLink="/"><button class="btn btn-link" style="color: white">Home</button></a></span>

  <div ngbDropdown class="dropdown">
    <button class="btn" id="dropdownBasic3" style="color: white" >
      <fa-icon [icon]="faBars"></fa-icon>&nbsp;Shop</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic2" class="menu">
      <p-tieredMenu [model]="items"></p-tieredMenu>
    </div>

  </div>

  <div class="spacer"></div>
  <div class="dropdown cart">
    <button class="dropbtn" (mouseenter)="getCarts()" >
      <fa-icon [icon]="faShoppingCart"></fa-icon>
    </button>

    <div class="dropdown-content">
      <div class="products">
        <div class="row" *ngFor="let cart of shoppingCarts">
          <div class="prod image2{{cart?.product?.id}} col-sm-3">
          </div>
          <div class="prod col-sm-1"> x{{cart?.quantity}}
          </div>
          <div class="prod productName col-sm-3">{{cart.product?.name}}</div>
          <div class="prod col-sm-2">{{cart.product?.price}} Lei</div>
          <div class="prod col-sm-2">
            <button class="btn btn-xs delete" (click) = "delete(cart)"><b>X</b></button>
          </div>
        </div>
      </div>
      <a href="/shoppingcart" >Vezi detalii cos</a>
    </div>
  </div>

  <div ngbDropdown>
    <button class="btn" id="dropdownBasic2" style="color: white" ngbDropdownToggle>
      <fa-icon [icon]="faBars"></fa-icon>&nbsp;Entitati</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic2" class="entitati">
      <div>
        <span><a routerLink="/authorities" *hasAuthority="Authorities.EPAY_AUTH"><button class="btn btn-link">Authority</button></a></span>
      </div>

      <div>
        <span><a routerLink="/categories" *hasAuthority="Authorities.EPAY_CATEG"><button class="btn btn-link">Category</button></a></span>
      </div>

      <div>
        <span><a routerLink="/products"><button class="btn btn-link">Product</button></a></span>
      </div>

      <div>
        <span><a routerLink="/roles" *hasAuthority="Authorities.EPAY_AUTH"><button class="btn btn-link">Role</button></a></span>
      </div>

      <div>
        <span><a routerLink="/rolesauthorities" *hasAuthority="Authorities.EPAY_ADMIN"><button class="btn btn-link">Role Authority</button></a></span>
      </div>

      <div>
        <span><a routerLink="/users" *hasAuthority="Authorities.EPAY_USERS"><button class="btn btn-link">User</button></a></span>
      </div>

      <div>
        <span><a routerLink="/userroles" *hasAuthority="Authorities.EPAY_ADMIN"><button class="btn btn-link">User Role</button></a></span>
      </div>
    </div>
  </div>

  <div ngbDropdown>
    <button class="btn" id="dropdownBasic1" style="color: white" ngbDropdownToggle>
      <fa-icon [icon]="faUser"></fa-icon>&nbsp;{{user?.email}}</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <div *ngIf="isLoggedIn()">
        <span><a (click)="logout()"><button class="btn btn-link " ><span class="em em-user2"></span>Logout</button></a></span>
        <span><a (click)="changepass()"><button class="btn btn-link " ><span class="em em-user2"></span>Reset Password</button></a></span>
      </div>
      <div *ngIf="!isLoggedIn()">
        <li>
          <span><a (click)="login()"><button class="btn btn-link " ><span class="em em-user2"></span>Login</button></a></span>
        </li><li><span><a (click)="signin()"><button class="btn btn-link " ><span class="em em-user2"></span>Sign Up</button></a></span></li>
      </div>

    </div>

  </div>



  <a aria-label="Angular on YouTube" target="_blank" rel="noopener" href="https://youtube.com/angular" title="YouTube">
    <svg id="youtube-logo" height="24" width="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 24 24" fill="#fff">
      <path d="M0 0h24v24H0V0z" fill="none"/>
      <path
        d="M21.58 7.19c-.23-.86-.91-1.54-1.77-1.77C18.25 5 12 5 12 5s-6.25 0-7.81.42c-.86.23-1.54.91-1.77 1.77C2 8.75 2 12 2 12s0 3.25.42 4.81c.23.86.91 1.54 1.77 1.77C5.75 19 12 19 12 19s6.25 0 7.81-.42c.86-.23 1.54-.91 1.77-1.77C22 15.25 22 12 22 12s0-3.25-.42-4.81zM10 15V9l5.2 3-5.2 3z"/>
    </svg>
  </a>


</div>

<div style="width: 100%; height: auto; background-color: #0c0c0c;">
  <app-bread-crumbs ></app-bread-crumbs>
</div>

<div style="width: 100%; height: auto; margin-top:35px">
  <div style="">
    <xng-breadcrumb [separator]="iconTemplate" ></xng-breadcrumb>
    <ng-template #iconTemplate>
      <mat-icon>chevron_right</mat-icon>
    </ng-template>
  </div>
  <router-outlet></router-outlet>
</div>


<div>
  <router-outlet></router-outlet>
</div>

<app-spinner></app-spinner>
