@font-face {
  font-family: eMAGv2;
  src: url(src/assets/eMAGv2-1623395106.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

.em-user2:before {
  content: "";
}
.em {
  display: inline-block;
  font: normal normal normal 14px/1 eMAGv2;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: inherit;
  line-height: 1;
  font-family: eMAGv2;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
