<div>
  <label class="label1">EMAIL: </label>
  <input class="input1" type="text"  [(ngModel)]="user!.email">
<!--  <label class="input1">{{ userEmail }}</label>-->
  <br>
  <br>
  <label class="label2">ADRESA: </label>
<!--  <label class="input2">{{ userAddress }}</label>-->
  <input class="input2" type="text"  [(ngModel)]="user!.address">
  <br>
  <br>
  <label class="label2">NUME: </label>
<!--  <label class="input3">{{ userName }}</label>-->
  <input class="input3" type="text"  [(ngModel)]="user!.name">
  <br>
  <br>
  <br>
  <div class="div-button">
    <!--        <button class="modify-button" (click)="openDialog()" >MODIFICA</button>-->
    <button class="save-button" >SALVEAZA</button>
  </div>
</div>
